# The Monetization of Verifiable Credential Issuer Verification

By [Jen Schreiber](https://www.linkedin.com/in/jischr/)

Verifiable Credential (VC) Issuer verification is the process of a third party	confirming that an Issuer is who they claim to be (i.e., establishing their identity) and has the authority to issue certain types of VCs. Today, an Issuer might establish their identity through asserting control over their web domain via DIF’s Well Known DID Configuration, inclusion in a DIF Trust Establishment document or ToIP Trust Registry, or certification as an Open Badges 3.0 Issuer (1EdTech).

In the past year, the verification of individuals and businesses on social media has shifted from a rules-based verification to a pay-to-play model. For example, some social media companies now charge account holders for account verification (e.g., the blue checkmark). Verified accounts can also be purchased by those willing to pay for them. It won’t be long before we start to see VC Issuers paying for their own verification. The monetization of VC Issuer verification may start to devalue the integrity of and trust in the SSI ecosystem.

## The Problem
The monetization of VC Issuer verification may lead to a higher quality service or could result in misinformation or mislabeling of Issuers and VCs. The problem arises in the lack of transparency in the methods and cost of verification. Without transparency, the shift from rules-based to purchased verification is more likely to hurt the SSI ecosystem. This problem raises many questions that need to be addressed:

First, what is the value of an Issuer verification? And, how does the monetization or pay-to-play model of Issuer verification impact its value?

Once the VC Issuer verification is granted, the End User still must make a decision of trustworthiness. Today, this is often a human-driven process rather than automated. An End User may use heuristics, such as brand familiarity or name recognition. This leads to the next question: how does purchased verification impact the End User’s decision matrix? 

And lastly, how could transparent Issuer verification lead to stronger and more robust verification methods? 

## Moving Forward
When approaching the solution, it is important to learn from both the physical and digital world and observe how the shift from rules-based to paid verification has affected exisitng trust networks. By encouraging this dialogue, we can begin to create more robust VC Issuer verification solutions.
